<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_service_fleet_report"
      groups="fleet.fleet_group_manager"
      sequence="1"
      name="Service Report"
      action="action_service_fleet_report"
      parent="fleet.menu_fleet_reporting">
    </menuitem>

    <menuitem id="menu_pendapatan_per_truck"
      groups="fleet.fleet_group_manager"
      sequence="1"
      name="Pendapatan Per Truck"
      action="action_fleet_pendapatan"
      parent="fleet.menu_fleet_reporting">
    </menuitem>

    <menuitem id="menu_service_configuration"
      groups="fleet.fleet_group_manager"
      sequence="20"
      name="Configuration"
      action="action_configuration_service"
      parent="fleet.fleet_services_configuration">
    </menuitem>
</odoo>