<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_order_pengiriman_root"
              name="Order Pengiriman"
              sequence="186"
              web_icon="order_pengiriman,static/description/icon.png"
    >
    </menuitem>

    <menuitem id="menu_order_pengiriman"
      groups="order_pengiriman.group_order_pengiriman"
      sequence="1"
      name="Order Pengiriman"
      action="action_order_pengiriman"
      parent="order_pengiriman.menu_order_pengiriman_root">
    </menuitem>

    <menuitem id="menu_oper_order"
      groups="order_pengiriman.group_order_pengiriman"
      sequence="2"
      name="Oper Order"
      action="action_oper_order"
      parent="order_pengiriman.menu_order_pengiriman_root">
    </menuitem>

    <menuitem id="menu_uang_jalan"
      groups="order_pengiriman.group_order_pengiriman"
      sequence="3"
      name="Uang Jalan"
      action="action_uang_jalan"
      parent="order_pengiriman.menu_order_pengiriman_root">
    </menuitem>

    <menuitem id="menu_report_main" groups="order_pengiriman.group_order_pengiriman" sequence="4" name="Laporan" parent="order_pengiriman.menu_order_pengiriman_root"/>

    <menuitem id="menu_report"
      name="Laporan Uang Jalan Gantung"
      action="report_uang_jalan_gantung_act"
      parent="menu_report_main">
    </menuitem>

    <menuitem id="menu_konfigurasi"
        groups="order_pengiriman.group_order_pengiriman"
        sequence="10"
        name="Konfigurasi"
        action="action_order_pengiriman"
        parent="order_pengiriman.menu_order_pengiriman_root">
    </menuitem>

    <menuitem id="menu_konfigurasi_lokasi"
        groups="order_pengiriman.group_order_pengiriman"
        sequence="11"
        name="Lokasi"
        action="action_konfigurasi_lokasi"
        parent="order_pengiriman.menu_konfigurasi">
    </menuitem>

    <menuitem id="menu_konfigurasi_plant"
        groups="order_pengiriman.group_order_pengiriman"
        sequence="12"
        name="PLANT"
        action="action_konfigurasi_plant"
        parent="order_pengiriman.menu_konfigurasi">
    </menuitem>

    <menuitem id="menu_konfigurasi_solar_uang_makan"
        groups="order_pengiriman.group_order_pengiriman"
        sequence="13"
        name="Solar Dan Uang Makan"
        action="action_konfigurasi_solar_uang_makan"
        parent="order_pengiriman.menu_konfigurasi">
    </menuitem>

    <menuitem id="menu_konfigurasi_uang_jalan"
        groups="order_pengiriman.group_order_pengiriman"
        sequence="14"
        name="Uang Jalan"
        action="action_konfigurasi_uang_jalan"
        parent="order_pengiriman.menu_konfigurasi">
    </menuitem>

    <menuitem id="menu_konfigurasi_tipe_muatan"
        groups="order_pengiriman.group_order_pengiriman"
        sequence="15"
        name="Tipe Muatan"
        action="action_konfigurasi_tipe_muatan"
        parent="order_pengiriman.menu_konfigurasi">
    </menuitem>

    <menuitem id="menu_konfigurasi_account"
        groups="order_pengiriman.group_order_pengiriman"
        sequence="16"
        name="Account"
        action="action_konfigurasi_account_uang_jalan"
        parent="order_pengiriman.menu_konfigurasi">
    </menuitem>

    <menuitem id="menu_uang_jalan"
      groups="order_pengiriman.group_order_approver_uang_jalan"
      sequence="3"
      name="Uang Jalan"
      action="action_uang_jalan"
      parent="order_pengiriman.menu_order_pengiriman_root">
    </menuitem>

    <menuitem id="menu_oper_order"
      groups="order_pengiriman.group_order_approver_uang_jalan"
      sequence="2"
      name="Oper Order"
      action="action_oper_order"
      parent="order_pengiriman.menu_order_pengiriman_root">
    </menuitem>
</odoo>